<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
    <link rel="stylesheet" href="/style.css"/>
</head>
<body>
    <h2>Edit chat</h2>
    <p>This message was sent by <b><%=chat.from%></b></p>
    <p>Recieved by <b><%=chat.to%></b></p>
    <form method="post" action="/chats/<%=chat._id%>?_method=PUT">
        <textarea name="editedMessage" rows="4" cols="35"><%=chat.message%></textarea>
        <br/>
        <button type="submit">Save</button>
    </form>
</body>
</html>