//create route
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a chat</title>
</head>
<body>
    <form method="POST" action="/chats">
        <input type="text" name="from" placeholder="sender username"/>
        <br>
        <input type="text" name="to" placeholder="reciever username"/>
        <br>
        <textarea rows="10" cols="30" name="message" placeholder="Message"></textarea>
        <br>
        <button type="submit">Send</button>
    </form>
</body>
</html>