body{
    background-color: aliceblue;
    margin: 0;
    padding: 0 20px;
}
h5{
    /* background-color: rgb(176, 130, 219); */
    display: inline;
    color:#322828;
    font-weight:100;
    border-radius: 20px;
    padding: 1px 3px;
}
.chat{
    background-color: cadetblue;
    margin-left: 4%;
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid rgb(140, 106, 171);
    border-radius: 20px;
}
.message{
    background-color: rgb(77, 223, 118);
    color:#000000;
    padding: 2px;
    border-radius: 8px;
    margin: 4px 0px;
    font-family: cursive;
}
sub{
    color:rgb(60, 60, 60);
}
.date{
    display: flex;
    justify-content: space-between;
}
input{
    border-radius: 20px;
    margin: 5px 0px;
    padding: 4px 8px;
}
button{
    border: 2px solid rgb(38, 151, 38);
    border-radius: 8px;
    padding: 2px 4px;
    font-size: 1.2rem;
    background-color: rgb(52, 251, 52);
}